<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net472" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net472" />
  <package id="CefSharp.Common" version="79.1.360" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="79.1.360" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.6.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.6.0" targetFramework="net472" />
</packages>